body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
    display: inline-block;
    width: 24%;
    margin: 5px;
    padding: 2px;
}

/* Consulta de medios para vista de tableta (772px) */
@media (min-width: 772px) {
    div {
        width: 45%; /* Cambia a 45% */
        display: inline-block;
        margin: 2%;
    }

    img {
        max-height: 30vh; /* Limita la altura de las imágenes */
        width: auto; /* Mantiene la proporción */
    }
}

/* Consulta de medios para vista de pantalla grande (998px) */
@media (min-width: 998px) {
    div {
        width: 30%; /* Cambia a 30% */
        display: inline-block;
        margin: 2%;
    }

    img {
        max-height: none; /* Permite que las imágenes sigan el tamaño natural */
    }
}
